nav {
  padding: 10px;
}

main {
  padding: 50px;
  overflow-y: scroll;
  margin-bottom: 55px;
  background-image: url("../assets/veg-border.jpg");
  background-position-x: center;
  background-position-y: center;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

main.login {
  background-image: url("../assets/veg-full.jpg");
  background-position-x: center;
  background-position-y: center;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

h1.login-text {
  color: white;
}

p.login-text {
  color: white;
  font-size: x-large
}

h1#sign-in-title {
  color: white;
}

div.table {
  position: relative;
  background-image: url("../assets/table.jpg");
  justify-self: center;
  height: 400px;
  width: 800px;
}

div.table-box {
  width: 100%;
}

div#Trades-Offers {
  height: 100%;
}